---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="home-container">
    <h1>ספר סדר פתרון חלומות</h1>
    <h3>
      מהרב הגאון רבינו האי ז"ל ויוסף הצדיק ודניאל איש חמודות <br />
      ורש"י ז"ל וחכמים אחרים
    </h3>
    <h3>נדפס לבקשת הבחור יקר ונבון כמ"ר מנחם בכה"ר דוד טרינקי יצ"ו</h3>
    <h3>על פי דפוס ונציה 5383</h3>

    <br />
    <a href="/book">
      <figure class="gaon-pic-div">
        <img src="/haigaonpic.jpg" alt="" />
      </figure></a
    >

    <a href="/book" class="enter"> כניסה לקריאה <img src="/arrow.png" /></a><br
    />
  </div>
</Layout>

<style>
  a img {
    transform: translate(-2px, 5px);
  }
</style>
